*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    margin-top: 2px;
}

p{
    text-align: center;
    color: #ffd700;
}

.btn{
    padding: 10px 40px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    
    
}

.btn:hover{
    background-color: #0056b3;
}

header{
    background-color: #333;
    color: white;
    padding: 10px 0;
    /* max-width: 800px; */
    margin: 0 auto;
    
}

.overlay{
    text-align: center;
}

.skill{
    background-color: white;
}

table{
    width: 80%;
    margin: 20px auto;

}

#file{
    width: 100%;
}

table th{
    text-align: left;
}

.horizontal-line-table {
    width: 100%;
    border-collapse: collapse;
}

.horizontal-line-table th,
.horizontal-line-table td {
    padding: 3px;
  
}

.horizontal-line-table th {
    border-bottom: 1px solid #aaa5a5; 
}

.horizontal-line-table td {
    border-bottom: 1px solid #aaa5a5; 
}


